#container {
    padding: 10px;
}

.muted {
    opacity: 0.8;
}

.medium {
    font-family: Lato,'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.2142em;
    padding: .67861429em 1em;
    font-size: 1em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

.dropzone.active {
    background-color: #c0c0c0;
}

.notice {
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -125px;
    width: 250px;
    background-color: #fff;
}

.quill {
    border: solid 1px #c0c0c0;
    min-height: 150px;
    
    .quill-toolbar.ql-toolbar {
        border-bottom: solid 1px #c0c0c0;
    }
}